##not need as is automated by deb already
[Unit]
Description=Graft node (RTA Public Testnet)
After=network-online.target

[Service]
User=gareth
Type=simple
WorkingDirectory=~
Restart=always
ExecStart=/usr/bin/graftnoded --non-interactive --testnet
LimitNOFILE=8192
Environment=TERM=xterm

[Install]
WantedBy=multi-user.target
